/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

button:focus {
    outline-width: 0px;
    outline: none;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}



/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}

.search-filler {
    text-align: center;
}

.form-group {
    min-height: 400px;
}

.item-title {
    color: #666;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.item-shop {
    width: 48%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #b2b2b2;
    float: left;
}
.item-price {
    color: #78c042;
    float: right;
    text-align: right;
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

.item {
    float: left;
    margin:  2% 2% 50px 2%;
    width: 21%;
}
.item-img-cont {
    position: relative;
}

.item .favorite-btn {
    background: #fff;
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 0px;
    height: 26px;
    width: 26px;
    padding-top: 2px;
    border-radius: 15px;
}


@media only screen and (max-width : 720px),
only screen and (max-device-width : 720px){
    .item {width: 29.33333%;}
}

@media only screen and (max-width : 530px),
only screen and (max-device-width : 530px){
    .item {width: 46%;}
}

@media only screen and (max-width : 320px),
only screen and (max-device-width : 320px){
    .item {width: 96%;}
    .item img {width: 96%;}
    .item h3 {font-size: 18px;}
    .item p, {font-size: 18px;}
}
