<div class="form-group">
    <div class="clearfix">
        <div ng-if="items.length" ng-repeat="item in items" class="item">
            <div class="item-img-cont">
                <img ng-src="{{ item.Images[0].url_170x135 }}" alt="{{ item.title }}" class="img-thumbnail">
                <button class="btn favorite-btn" ng-click="onFavorite($index)">
                    <i class="glyphicon favorite-icon" ng-class="{ 'glyphicon-heart': item.isFavorite, 'glyphicon-heart-empty': !item.isFavorite }"></i>
                </button>
            </div>
            <div class="item-title">{{ item.title }}</div>
            <div class="clearfix">
                <div class="item-shop">{{ item.Shop.shop_name }}</div>
                <div class="item-price">{{ item.price }} {{ item.currency_code }}</div>
            </div>
        </div>
    </div>
</div>